In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('depremsenaryosu.csv', sep=';',encoding='utf-8')

df.head(3)

,İlce Adi,Mahalle Adi,Mahalle Koy USTV,Cok Agir Hasarli Bina Sayisi,Agir Hasarli Bina Sayisi,Orta Hasarli Bina Sayisi,Hafif Hasarli Bina Sayisi,Can Kaybı Sayisi,Agir Yarali Sayisi,Hastanede Tedavi Sayisi,Hafif Yarali Sayisi,Dogalgaz Boru Hasari,İçme Boru Hasari,Atik Su Boru Hasari,Gecici Barinma
0,ADALAR,BURGAZADA,40139,54,99,256,241,8,6,24,42,0,0,1,398
1,ADALAR,HEYBELİADA,40142,101,175,423,393,25,21,66,113,1,1,2,763
2,ADALAR,KINALIADA,40143,53,97,287,302,5,3,15,27,0,1,1,420

In [3]:
df.rename(columns=lambda x: x.lower().replace(' ','_'),inplace=True)

df.head(3)

,i̇lce_adi,mahalle_adi,mahalle_koy_ustv,cok_agir_hasarli_bina_sayisi,agir_hasarli_bina_sayisi,orta_hasarli_bina_sayisi,hafif_hasarli_bina_sayisi,can_kaybı_sayisi,agir_yarali_sayisi,hastanede_tedavi_sayisi,hafif_yarali_sayisi,dogalgaz_boru_hasari,i̇çme_boru_hasari,atik_su_boru_hasari,gecici_barinma
0,ADALAR,BURGAZADA,40139,54,99,256,241,8,6,24,42,0,0,1,398
1,ADALAR,HEYBELİADA,40142,101,175,423,393,25,21,66,113,1,1,2,763
2,ADALAR,KINALIADA,40143,53,97,287,302,5,3,15,27,0,1,1,420

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959 entries, 0 to 958
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   i̇lce_adi                     959 non-null    object
 1   mahalle_adi                   959 non-null    object
 2   mahalle_koy_ustv              959 non-null    int64
 3   cok_agir_hasarli_bina_sayisi  959 non-null    int64
 4   agir_hasarli_bina_sayisi      959 non-null    int64
 5   orta_hasarli_bina_sayisi      959 non-null    int64
 6   hafif_hasarli_bina_sayisi     959 non-null    int64
 7   can_kaybı_sayisi              959 non-null    int64
 8   agir_yarali_sayisi            959 non-null    int64
 9   hastanede_tedavi_sayisi       959 non-null    int64
 10  hafif_yarali_sayisi           959 non-null    int64
 11  dogalgaz_boru_hasari          959 non-null    int64
 12  i̇çme_boru_hasari             959 non-null    int64
 13  atik_su_boru_hasari           959 non-null    int64
 14  gecici_barinma                959 non-null    int64
dtypes: int64(13), object(2)
memory usage: 112.5+ KB

In [5]:
df.drop(df.columns[[2,11,12,13,14]],axis=1, inplace=True)

df.head(3)

,i̇lce_adi,mahalle_adi,cok_agir_hasarli_bina_sayisi,agir_hasarli_bina_sayisi,orta_hasarli_bina_sayisi,hafif_hasarli_bina_sayisi,can_kaybı_sayisi,agir_yarali_sayisi,hastanede_tedavi_sayisi,hafif_yarali_sayisi
0,ADALAR,BURGAZADA,54,99,256,241,8,6,24,42
1,ADALAR,HEYBELİADA,101,175,423,393,25,21,66,113
2,ADALAR,KINALIADA,53,97,287,302,5,3,15,27

In [6]:
df = df.rename(columns={"i̇lce_adi":"ilce",
                        "mahalle_adi":"mahalle",
                        "cok_agir_hasarli_bina_sayisi":"cokhasbinasay",
                        "agir_hasarli_bina_sayisi" : "agirhasbinsay",
                        "orta_hasarli_bina_sayisi" : "ortahasbinsay",
                        "hafif_hasarli_bina_sayisi" : "hafifhasbinsay",
                        "can_kaybı_sayisi" : "cankaysay",
                        "agir_yarali_sayisi" : "agiryarsay",
                        "hastanede_tedavi_sayisi" : "hastedsay",
                        "hafif_yarali_sayisi" : "hafifyarsay"
                       })

df.head(2)

,ilce,mahalle,cokhasbinasay,agirhasbinsay,ortahasbinsay,hafifhasbinsay,cankaysay,agiryarsay,hastedsay,hafifyarsay
0,ADALAR,BURGAZADA,54,99,256,241,8,6,24,42
1,ADALAR,HEYBELİADA,101,175,423,393,25,21,66,113

In [7]:
df.isnull().sum()

ilce              0
mahalle           0
cokhasbinasay     0
agirhasbinsay     0
ortahasbinsay     0
hafifhasbinsay    0
cankaysay         0
agiryarsay        0
hastedsay         0
hafifyarsay       0
dtype: int64

In [8]:
dfilce = df.groupby("ilce").sum()

dfilce.head(3)

,cokhasbinasay,agirhasbinsay,ortahasbinsay,hafifhasbinsay,cankaysay,agiryarsay,hastedsay,hafifyarsay
ilce,,,,,,,,
ADALAR,413,743,1894,1842,76,61,217,378
ARNAVUTKÖY,41,243,1704,4950,0,0,34,179
ATAŞEHİR,123,471,2756,6833,89,47,330,755

In [9]:
toplambinalar = dfilce['cokhasbinasay'] + dfilce['agirhasbinsay']+dfilce['ortahasbinsay']+dfilce['hafifhasbinsay']

dfilce['toplambinasayisi'] = toplambinalar

In [10]:
toplamyaralisayisi = dfilce['agiryarsay']+dfilce['hastedsay']+dfilce['hafifyarsay']

dfilce['toplamyaralisayisi'] = toplamyaralisayisi

In [11]:
cokveagirhasbinalar = dfilce['cokhasbinasay'] + dfilce['agirhasbinsay']

dfilce['bindenfazlaetkbinalar'] = np.where(cokveagirhasbinalar > 1000, 'Yüksek','Düşük')

In [12]:
cankaybisayisiortustunde = dfilce['cankaysay'] > dfilce['cankaysay'].mean()

dfilce['olumsayisiortgore'] = np.where(cankaybisayisiortustunde,'Yüksek','Düşük' )

In [13]:
agirvehastaneyaralisay = dfilce['agiryarsay']+dfilce['hastedsay']

durumlar = [
    (agirvehastaneyaralisay >= 5000) & (agirvehastaneyaralisay < 10000),
    (agirvehastaneyaralisay >= 3000) & (agirvehastaneyaralisay < 5000),
    (agirvehastaneyaralisay >= 1000) & (agirvehastaneyaralisay < 3000), 
    (agirvehastaneyaralisay >= 500) & (agirvehastaneyaralisay < 1000),
    (agirvehastaneyaralisay >= 1) & (agirvehastaneyaralisay <= 500),
    (agirvehastaneyaralisay == 0)
           ]

degerler = ['5000-10000 Kişi','3000-5000 Kişi','1000-3000 Kişi','500-1000 Kişi','100-500 Kişi','Yok']

dfilce['oncelikliyaralidurumu'] = np.select(durumlar,degerler)

In [14]:
dfilce.head(2)

,cokhasbinasay,agirhasbinsay,ortahasbinsay,hafifhasbinsay,cankaysay,agiryarsay,hastedsay,hafifyarsay,toplambinasayisi,toplamyaralisayisi,bindenfazlaetkbinalar,olumsayisiortgore,oncelikliyaralidurumu
ilce,,,,,,,,,,,,,
ADALAR,413,743,1894,1842,76,61,217,378,4892,656,Yüksek,Düşük,100-500 Kişi
ARNAVUTKÖY,41,243,1704,4950,0,0,34,179,6938,213,Düşük,Düşük,100-500 Kişi

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959 entries, 0 to 958
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ilce            959 non-null    object
 1   mahalle         959 non-null    object
 2   cokhasbinasay   959 non-null    int64
 3   agirhasbinsay   959 non-null    int64
 4   ortahasbinsay   959 non-null    int64
 5   hafifhasbinsay  959 non-null    int64
 6   cankaysay       959 non-null    int64
 7   agiryarsay      959 non-null    int64
 8   hastedsay       959 non-null    int64
 9   hafifyarsay     959 non-null    int64
dtypes: int64(8), object(2)
memory usage: 75.0+ KB

In [16]:
sonilce = dfilce.style.background_gradient(subset=['toplamyaralisayisi','toplambinasayisi','cankaysay'],cmap='Blues')

In [17]:
dfilce.reset_index(inplace=True)
dfilce['id'] = np.arange(1, len(dfilce) + 1)
dfilce.set_index('id',inplace=True)

In [18]:
dfilce.index

Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39],
           dtype='int64', name='id')

In [19]:
dfilce.head(5)

,ilce,cokhasbinasay,agirhasbinsay,ortahasbinsay,hafifhasbinsay,cankaysay,agiryarsay,hastedsay,hafifyarsay,toplambinasayisi,toplamyaralisayisi,bindenfazlaetkbinalar,olumsayisiortgore,oncelikliyaralidurumu
id,,,,,,,,,,,,,,
1,ADALAR,413,743,1894,1842,76,61,217,378,4892,656,Yüksek,Düşük,100-500 Kişi
2,ARNAVUTKÖY,41,243,1704,4950,0,0,34,179,6938,213,Düşük,Düşük,100-500 Kişi
3,ATAŞEHİR,123,471,2756,6833,89,47,330,755,10183,1132,Düşük,Düşük,100-500 Kişi
4,AVCILAR,233,1261,5545,9285,465,239,1385,2799,16324,4423,Yüksek,Yüksek,1000-3000 Kişi
5,BAHÇELİEVLER,796,1490,5668,9686,1633,879,4261,7599,17640,12739,Yüksek,Yüksek,5000-10000 Kişi

In [20]:
anadoluyakasi = ['ADALAR',
'ATAŞEHİR',
'BEYKOZ',
'ÇEKMEKÖY',
'KADIKÖY',
'KARTAL',
'MALTEPE',
'PENDİK',
'SANCAKTEPE',
'SULTANBEYLİ',
'ŞİLE',
'TUZLA',
'ÜMRANİYE',
'ÜSKÜDAR'
]



dfilce['bolge'] = np.where(dfilce['ilce'].isin(anadoluyakasi), 'ANADOLU YAKASI','AVRUPA YAKASI')

In [21]:
dfilce.head(10)

,ilce,cokhasbinasay,agirhasbinsay,ortahasbinsay,hafifhasbinsay,cankaysay,agiryarsay,hastedsay,hafifyarsay,toplambinasayisi,toplamyaralisayisi,bindenfazlaetkbinalar,olumsayisiortgore,oncelikliyaralidurumu,bolge
id,,,,,,,,,,,,,,,
1,ADALAR,413,743,1894,1842,76,61,217,378,4892,656,Yüksek,Düşük,100-500 Kişi,ANADOLU YAKASI
2,ARNAVUTKÖY,41,243,1704,4950,0,0,34,179,6938,213,Düşük,Düşük,100-500 Kişi,AVRUPA YAKASI
3,ATAŞEHİR,123,471,2756,6833,89,47,330,755,10183,1132,Düşük,Düşük,100-500 Kişi,ANADOLU YAKASI
4,AVCILAR,233,1261,5545,9285,465,239,1385,2799,16324,4423,Yüksek,Yüksek,1000-3000 Kişi,AVRUPA YAKASI
5,BAHÇELİEVLER,796,1490,5668,9686,1633,879,4261,7599,17640,12739,Yüksek,Yüksek,5000-10000 Kişi,AVRUPA YAKASI
6,BAKIRKÖY,782,1306,3394,3939,1046,581,2701,4610,9421,7892,Yüksek,Yüksek,3000-5000 Kişi,AVRUPA YAKASI
7,BAYRAMPAŞA,614,1182,4059,7415,520,340,1394,2529,13270,4263,Yüksek,Yüksek,1000-3000 Kişi,AVRUPA YAKASI
8,BAĞCILAR,796,1825,8001,15397,1179,652,3148,5869,26019,9669,Yüksek,Yüksek,3000-5000 Kişi,AVRUPA YAKASI
9,BAŞAKŞEHİR,115,575,2977,6243,71,45,287,670,9910,1002,Düşük,Düşük,100-500 Kişi,AVRUPA YAKASI
10,BEYKOZ,113,443,2756,7356,25,16,112,284,10668,412,Düşük,Düşük,100-500 Kişi,ANADOLU YAKASI

In [22]:
// Burdan sonrası dbye import

SyntaxError: invalid syntax (<ipython-input-22-c58405521cba>, line 1)

In [23]:
import sqlalchemy
from sqlalchemy import create_engine

In [24]:

engine = create_engine('mysql://KULLANICI:ŞİFRE@HOST:3306/DATABASE?charset=utf8')
dfilce.to_sql('depremsenaryo', engine, if_exists='replace',
             dtype={
'id' : sqlalchemy.types.INTEGER(),
'ilce' : sqlalchemy.types.VARCHAR(length=50),
'cokhasbinasay' : sqlalchemy.types.INTEGER(),
'agirhasbinsay' : sqlalchemy.types.INTEGER(),
'ortahasbinsay' : sqlalchemy.types.INTEGER(),
'hafifhasbinsay' : sqlalchemy.types.INTEGER(),
'cankaysay' : sqlalchemy.types.INTEGER(),
'agiryarsay' : sqlalchemy.types.INTEGER(),
'hastedsay' : sqlalchemy.types.INTEGER(),
'hafifyarsay' : sqlalchemy.types.INTEGER(),
'toplambinasayisi' : sqlalchemy.types.INTEGER(),
'toplamyaralisayisi' : sqlalchemy.types.INTEGER(),
'bindenfazlaetkbinalar' : sqlalchemy.types.VARCHAR(length=30),
'olumsayisiortgore' : sqlalchemy.types.VARCHAR(length=30),
'oncelikliyaralidurumu' : sqlalchemy.types.VARCHAR(length=30),
'bolge' : sqlalchemy.types.VARCHAR(length=30)}
             )